.head{
    height:27px;
    width:100%;
    background-color: #e42529;
    display: flex;
    justify-content: flex-end;
    gap:10px;
}
.vl{
    border-left: 1px solid white;
    height:21px;
    margin-top: 2px;
}
.subHeader{
    width:95px;
    text-align: left;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 4px;
}
.mainHeader{
    height:60px;
    background-color: #e42529;
    padding: 8px 16px 8px 48px;
    display: flex;
    justify-content: space-between;
}
.mainHeader img{
    height:50px;
    width: 150px;
}
.mainHeader input{
    width:475px;
    height: 36px;
    margin-top: 15px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding: 0px 0px 0px 20px;
    /* border-radius: 20px; */
}
.mainHeader button{
    height:36px;
    width:41px;
    border: none;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
}
.mainHeader>div:last-child{
    display: flex;
    justify-content: space-between;
    gap:10px;
    margin-top: 20px;
}
.subMainHeader{
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.navbar{
    height:40px;
    display: flex;
    justify-content: space-around;
    background-color: #1f4985;
}
.navbar div{
    width:153px;
    padding:10px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: white;
}
.navbar>div:hover{
    background-color: #e42529;
}
.dropDown{
    height:350px;
    width:95%;
    margin: auto;
    border: 1px solid red;
}

